<article class="h-entry h-event">
	<h1 class="p-name"><%= link_to "Webmention ##{@webmention.id}", webmention_url(@webmention), class: 'u-url' %></h1>

	<div class="e-content p-description">
		<p>
			On <time class="dt-start" datetime="<%= @webmention.created_at.to_s(:iso8601) %>"><%= @webmention.created_at.to_s(:display) %></time>,
			<%= link_to 'this URL', @webmention.source, rel: 'nofollow', title: @webmention.source %> mentioned <%= link_to 'that URL', @webmention.target, title: @webmention.target %>.
		</p>
		<p>This webmention is <%= @webmention.verified_at? ? 'verified' : 'unverified' %>.</p>
	</div>

	<% if logged_in? %>
		<menu role="menu">
			<li role="menuitem">
				<form action="<%= webmention_path(@webmention) %>" method="post">
					<input type="hidden" name="_method" value="put">

					<button type="submit"><%= @webmention.verified_at? ? 'Reverify' : 'Verify' %></button>
				</form>
			</li>
			<li role="menuitem">
				<%= partial 'shared/delete_form', locals: { action: webmention_path(@webmention) } %>
			</li>
		</menu>
	<% end %>
</article>