<%- if @post.errors.any? -%>
	<%= render 'francis_cms/shared/form_errors', obj: @post %>
<%- else -%>
	<p class="callout">Fields marked with an * are required.</p>
<%- end -%>

<%= form_for @post, builder: FrancisCmsFormBuilder, html: { class: 'post-form' } do |f| %>
	<ul>
		<li>
			<%= f.label :title, raw(%{Title <abbr title="Required">*</abbr>}) %>
			<%= f.text_field :title %>
		</li>
		<li>
			<%= f.label :slug, raw(%{URL <abbr title="Required">*</abbr> <span class="hint">(#{posts_url}/…)</span>}) %>
			<%= f.text_field :slug, pattern: '[a-z0-9\-]+', placeholder: 'an-example-post-url' %>
		</li>
		<li>
			<%= f.label :body, raw(%{Body <abbr title="Required">*</abbr>}) %>
			<%= f.text_area :body %>
		</li>
		<li>
			<%= f.label :excerpt %>
			<%= f.text_field :excerpt, maxlength: 255 %>
		</li>
		<li>
			<%= f.label :tag_list, raw(%{Tags <span class="hint">(Comma-separated, please.)</span>}) %>
			<%= f.text_field :tag_list, autocapitalize: 'none', value: @post.tag_list.to_s %>
		</li>
		<li>
			<%= f.label :is_draft, class: 'for-checkbox' do %>
				<%= f.check_box :is_draft, { checked: !@post.published_at? } %>
				Save as draft
			<% end %>
		</li>
		<li>
			<button type="submit">Submit</button>
		</li>
	</ul>
<% end %>