<%- if @post.errors.any? -%>
	<%= render 'francis_cms/shared/form_errors', obj: @post %>
<%- end -%>

<%= form_for @post, builder: FrancisCmsFormBuilder, html: { class: 'post-form' } do |f| %>
	<ul>
		<li>
			<%= f.label :title %>
			<%= f.text_field :title, required: true %>
		</li>
		<li>
			<%= f.label :slug, raw(%{URL <span class="hint">(#{posts_url}/…)</span>}) %>
			<%= f.text_field :slug, placeholder: 'an-example-post-url', required: true %>
		</li>
		<li>
			<%= f.label :body %>
			<%= f.text_area :body, required: true %>
		</li>
		<li>
			<%= f.label :excerpt %>
			<%= f.text_field :excerpt, maxlength: 255 %>
		</li>
		<li>
			<%= f.label :tag_list, raw(%{Tags <span class="hint">(Comma-separated, please.)</span>}) %>
			<%= f.text_field :tag_list, value: @post.tag_list.to_s %>
		</li>
		<li>
			<%= f.label :is_draft, class: 'for-checkbox' do %>
				<%= f.check_box :is_draft, { checked: !@post.published_at? } %>
				Save as draft
			<% end %>
		</li>
		<li>
			<button type="submit">Submit</button>
		</li>
	</ul>
<% end %>