<%- @page_title = "Posts#{' – Page ' + @posts.current_page.to_s if @posts.current_page > 1}" -%>

<div class="h-feed">
	<header class="content-header">
		<h1 class="p-name">Posts</h1>
		<%- if @posts.current_page > 1 -%>
			<small>Page <%= @posts.current_page %> of <%= @posts.total_pages %></small>
		<%- end -%>
	</header>

	<div class="content-container">
		<%- if @posts.any? -%>
			<ol class="entries" reversed>
				<%- @posts.each do |post| -%>
					<li>
						<%= render 'francis_cms/shared/post_hentry', post: post %>
					</li>
				<%- end -%>
			</ol>

			<%= will_paginate @posts %>
		<%- else -%>
			<p>No posts found!</p>
		<%- end -%>
	</div>

	<footer class="content-footer">
		<%= render 'francis_cms/shared/author_hcard' %>
	</footer>
</div>