<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title><%= francis_cms_config.site_title %>: Posts</title>
		<atom:link rel="self" href="<%= posts_url(format: :rss) %>" />
		<link><%= posts_url %></link>
		<description>Recent posts from <%= francis_cms_config.site_title %> — <%= francis_cms_config.site_description %></description>
		<pubDate><%= @posts.first.published_at.to_s(:rfc822) if @posts.any? %></pubDate>
		<managingEditor><%= francis_cms_config.user_email %> (<%= francis_cms_config.user_name %>)</managingEditor>
		<webMaster><%= francis_cms_config.user_email %> (<%= francis_cms_config.user_name %>)</webMaster>
		<language><%= francis_cms_config.site_language %></language>
		<copyright><%= francis_cms_config.license_title %></copyright>

		<%- @posts.each do |post| -%>
			<item>
				<guid><%= post_url(post) %></guid>
				<title><%= post.title %></title>
				<link><%= post_url(post) %></link>
				<pubDate><%= post.published_at.to_s(:rfc822) %></pubDate>
				<%- if post.body? -%>
					<description>
						<![CDATA[
							<%= raw post.to_html %>
						]]>
					</description>
				<%- end -%>
				<%- if post.tags.any? -%>
					<%- post.tags.each do |tag| -%>
						<category><%= tag.name %></category>
					<%- end -%>
				<%- end -%>
			</item>
		<%- end -%>
	</channel>
</rss>