<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title><%= francis_cms_config.site_title %>: Photos</title>
		<atom:link rel="self" href="<%= photos_url(format: :rss) %>" />
		<link><%= photos_url %></link>
		<description>Recent photos from <%= francis_cms_config.site_title %> — <%= francis_cms_config.site_description %></description>
		<pubDate><%= @photos.first.published_at.to_s(:rfc822) if @photos.any? %></pubDate>
		<managingEditor><%= francis_cms_config.user_email %> (<%= francis_cms_config.user_name %>)</managingEditor>
		<webMaster><%= francis_cms_config.user_email %> (<%= francis_cms_config.user_name %>)</webMaster>
		<language><%= francis_cms_config.site_language %></language>
		<copyright><%= francis_cms_config.license_title %></copyright>

		<%- @photos.each do |photo| -%>
			<item>
				<guid><%= photo_url(photo) %></guid>
				<title><%= photo.title %></title>
				<link><%= photo_url(photo) %></link>
				<pubDate><%= photo.published_at.to_s(:rfc822) %></pubDate>
				<description>
					<![CDATA[
						<%= image_tag asset_url(photo.photo.url(:medium_jpg)), alt: '', srcset: %{#{asset_url photo.photo.url(:small_jpg)} 500w, #{asset_url photo.photo.url(:medium_jpg)} 750w, #{asset_url photo.photo.url(:large_jpg)} 1000w} %>
						<%= raw photo.to_html %>
					]]>
				</description>
				<%- if photo.tags.any? -%>
					<%- photo.sorted_tags.each do |tag| -%>
						<category><%= tag.name %></category>
					<%- end -%>
				<%- end -%>
			</item>
		<%- end -%>
	</channel>
</rss>