<%- @page_title = "#{@photo.title} — Photos" -%>

<%- if __logged_in__ -%>
	<%- content_for :admin_panel_extras do -%>
		<menu class="local">
			<li><%= link_to 'Edit', edit_photo_path(@photo) %></li>
			<li>
				<%= render 'francis_cms/shared/delete_form', action: photo_path(@photo) %>
			</li>
		</menu>
	<%- end -%>
<%- end -%>

<article class="single h-entry h-as-photo">
	<div class="single-content e-content p-name">
		<div class="single-photo">
			<%= image_tag @photo.photo.url(:medium), alt: '', class: 'u-photo', srcset: %{
				#{asset_path @photo.photo.url(:small)} 600w,
				#{asset_path @photo.photo.url(:medium)} 900w,
				#{asset_path @photo.photo.url(:large)} 1200w
			} %>

			<%= link_to 'Draft', edit_photo_path(@photo), class: 'draft' unless @photo.published_at? %>
		</div>

		<%- if @photo.body? -%>
			<%= raw @photo.to_html %>
		<%- else -%>
			<p><%= @photo.title %></p>
		<%- end -%>
	</div>

	<aside class="responses" id="responses" role="complementary">
		<%= render 'francis_cms/shared/webmention_form', target: photo_url(@photo) %>

		<%- if @photo.webmentions.any? -%>
			<%= render 'francis_cms/shared/webmentions', resource: @photo %>
		<%- end -%>
	</aside>

	<footer role="complementary">
		<ul class="single-meta">
			<%- if @photo.published_at? -%>
				<li>
					“<%= link_to @photo.title, photo_path(@photo), class: 'u-url' %>” was posted on
					<time class="dt-published" datetime="<%= @photo.published_at.to_s(:iso8601) %>"><%= raw @photo.published_at.to_s(:display) %></time>.
				</li>
			<%- end -%>
			<%- if @photo.tags.any? -%>
				<li>
					<%= render 'francis_cms/shared/tags', resource: @photo %>
				</li>
			<%- end -%>
			<%- if @photo.syndications.any? -%>
				<li>
					<%= render 'francis_cms/shared/syndications', resource: @photo %>
				</li>
			<%- end -%>
		</ul>

		<%- if @photo.newer || @photo.older -%>
			<%= render 'francis_cms/shared/pagination', resource: @photo %>
		<%- end -%>

		<%= render 'francis_cms/shared/author_hcard' %>
	</footer>
</article>