<%- @page_title = "#{@photo.title} — Photos" -%>

<%- if __logged_in__ -%>
	<%- content_for :admin_panel_extras do -%>
		<menu class="local">
			<li><%= link_to 'Edit', edit_photo_path(@photo) %></li>
			<li>
				<%= render 'francis_cms/shared/delete_form', action: photo_path(@photo) %>
			</li>
		</menu>
	<%- end -%>
<%- end -%>

<article class="single h-entry h-as-photo">
	<div class="single-content e-content p-name">
		<div class="single-photo">
			<%= photo_image_tag @photo, alt: '', class: 'u-photo' %>
			<%= link_to 'Draft', edit_photo_path(@photo), class: 'draft' unless @photo.published_at? %>
		</div>

		<%- if @photo.published_at? -%>
			<%- datetime = @photo.taken_at? ? @photo.taken_at : @photo.published_at -%>
			<small><%= @photo.taken_at? ? 'Taken' : 'Posted' %> on <time class="dt-published" datetime="<%= datetime.to_s(:iso8601) %>"><%= raw datetime.to_s(:display) %></time>.</small>
		<%- end -%>

		<%- if @photo.body? -%>
			<%= raw @photo.to_html %>
		<%- else -%>
			<p><%= @photo.title %></p>
		<%- end -%>
	</div>

	<aside class="responses" id="responses" role="complementary">
		<%= render 'francis_cms/shared/webmention_form', target: photo_url(@photo) %>

		<%- if @photo.webmentions.any? -%>
			<%= render 'francis_cms/shared/webmentions', resource: @photo %>
		<%- end -%>
	</aside>

	<footer role="complementary">
		<ul class="single-meta">
			<li>
				“<%= link_to @photo.title, photo_path(@photo), class: 'u-url' %>” is also available as
				<%= link_to 'Markdown', photo_path(@photo, format: :md), download: %{#{@photo.title}.md}, rel: 'alternate', type: 'text/x-markdown' %> and
				<%= link_to 'JSON', photo_path(@photo, format: :json), download: %{#{@photo.title}.json}, rel: 'alternate', type: 'application/json' %>.
			</li>
			<%- if @photo.geolocated? -%>
				<li>
					<dl class="entry-meta-list">
						<dt>Location:</dt>
						<dd><%= link_to_openstreetmap @photo, class: 'p-location h-adr' %></dd>
					</dl>
				</li>
			<%- end -%>
			<li>
				<dl class="entry-meta-list">
					<dt>Sizes:</dt>
					<dd><%= link_to 'small', @photo.photo.url(:small), download: %{#{@photo.title} (small).#{@photo.photo.file.extension}} %></dd>
					<dd><%= link_to 'medium', @photo.photo.url(:medium), download: %{#{@photo.title} (medium).#{@photo.photo.file.extension}} %></dd>
					<dd><%= link_to 'large', @photo.photo.url(:large), download: %{#{@photo.title} (large).#{@photo.photo.file.extension}} %></dd>
					<dd><%= link_to 'original', @photo.photo.url, download: %{#{@photo.title} (original).#{@photo.photo.file.extension}} %></dd>
				</dl>
			</li>
			<%- if @photo.tags.any? -%>
				<li>
					<%= render 'francis_cms/shared/tags', resource: @photo %>
				</li>
			<%- end -%>
			<%- if @photo.syndications.any? -%>
				<li>
					<%= render 'francis_cms/shared/syndications', resource: @photo %>
				</li>
			<%- end -%>
		</ul>

		<%- if @photo.newer || @photo.older -%>
			<%= render 'francis_cms/shared/pagination', resource: @photo %>
		<%- end -%>

		<%= render 'francis_cms/shared/author_hcard' %>
	</footer>
</article>