<article class="response p-comment h-cite" id="response-<%= webmention.id %>">
	<div class="response-content e-content">
		<p><%= link_to webmention.entry_name, webmention.entry_url, class: 'u-url p-name' %> references this post.</p>
	</div>

	<footer class="response-footer">
		<p>
			<%= link_to raw(%Q{<span class="#{webmention.entry_url_host.parameterize} avatar">#{image_tag(webmention.author_photo, class: 'u-photo')}</span> <span class="p-name">#{webmention.author_name}</span>}), webmention.author_url, class: 'p-author h-card' %>
			published this on
			<time class="dt-published" datetime="<%= webmention.published_at.to_s(:iso8601) %>"><%= raw webmention.published_at.to_s(:display) %></time>.
		</p>
	</footer>
</article>