<%- if @link.errors.any? -%>
	<%= render 'francis_cms/shared/form_errors', obj: @link %>
<%- else -%>
	<p class="highlight">Fields marked with an * are required.</p>
<%- end -%>

<%= form_for @link, builder: FrancisCmsFormBuilder, html: { class: 'link-form' } do |f| %>
	<ul>
		<li>
			<%= f.label :url, raw(%{URL <abbr title="Required">*</abbr>}) %>
			<%= f.url_field :url, placeholder: 'http://…', required: true %>
		</li>
		<li>
			<%= f.label :title, raw(%{Title  <abbr title="Required">*</abbr>}) %>
			<%= f.text_field :title, required: true %>
		</li>
		<li>
			<%= f.label :body %>
			<%= f.text_area :body %>
		</li>
		<li>
			<%= f.label :tag_list, raw(%{Tags <span class="hint">(Comma-separated, please.)</span>}) %>
			<%= f.text_field :tag_list, value: @link.tag_list.to_s %>
		</li>
		<li>
			<%= f.label :is_draft, class: 'for-checkbox' do %>
				<%= f.check_box :is_draft, { checked: !@link.published_at? } %>
				Save as draft
			<% end %>
		</li>
		<li>
			<button type="submit">Submit</button>
		</li>
	</ul>
<% end %>