<%- @page_title = "Links#{' – Page ' + @links.current_page.to_s if @links.current_page > 1}" -%>

<div class="h-feed">
	<header class="content-header">
		<h1 class="p-name">Links</h1>
		<%- if @links.current_page > 1 -%>
			<small>Page <%= @links.current_page %> of <%= @links.total_pages %></small>
		<%- end -%>
	</header>

	<div class="content-container">
		<%- if @links.any? -%>
			<ol class="entries" reversed>
				<%- @links.each do |link| -%>
					<li>
						<%= render 'francis_cms/shared/link_hentry', link: link %>
					</li>
				<%- end -%>
			</ol>

			<%= will_paginate @links %>

			<p class="highlight"><b>Paginated lists of content not your style?</b> <%= link_to 'Browse the Links Archives by year', archives_links_path %>.</p>
		<%- else -%>
			<p>No links found!</p>
		<%- end -%>
	</div>

	<footer class="content-footer">
		<%= render 'francis_cms/shared/author_hcard' %>
	</footer>
</div>