<%- @page_title = "#{@link.title} — Links" -%>

<%- if __logged_in__ -%>
	<%- provide :admin_panel_extras do -%>
		<menu class="local">
			<li><%= link_to 'Edit', edit_link_path(@link) %></li>
			<li>
				<%= render 'francis_cms/shared/delete_form', action: link_path(@link) %>
			</li>
		</menu>
	<%- end -%>
<%- end -%>

<article class="single h-entry h-as-article">
	<header class="single-header">
		<h1 class="single-title p-name">
			<%= @link.title %>
			<%= link_to 'Draft', edit_link_path(@link), class: 'draft' unless @link.published_at? %>
		</h1>

		<%- if @link.published_at? -%>
			<small>Saved on <time class="dt-published" datetime="<%= @link.published_at.to_s(:iso8601) %>"><%= raw @link.published_at.to_s(:display) %></time>.</small>
		<%- end -%>
	</header>

	<div class="single-content e-content">
		<%- if @link.body? -%>
			<%= raw @link.to_html %>
		<%- end -%>
		<p><%= link_to "Visit “#{@link.title}” →", @link.url, class: 'u-bookmark-of' %></p>
	</div>

	<aside class="responses" id="responses">
		<%= render 'francis_cms/shared/webmention_form', target: link_url(@link) %>

		<%- if @link.webmentions.any? -%>
			<%= render 'francis_cms/shared/webmentions', resource: @link %>
		<%- end -%>
	</aside>

	<footer role="complementary">
		<ul class="single-meta">
			<li>
				“<%= link_to @link.title, link_path(@link), class: 'u-url' %>” is also available as
				<%= link_to 'Markdown', link_path(@link, format: :md), download: %{#{@link.title}.md}, rel: 'alternate', type: 'text/x-markdown' %> and
				<%= link_to 'JSON', link_path(@link, format: :json), download: %{#{@link.title}.json}, rel: 'alternate', type: 'application/json' %>.
			</li>
			<%- if @link.tags.any? -%>
				<li>
					<%= render 'francis_cms/shared/tags', resource: @link %>
				</li>
			<%- end -%>
			<%- if @link.syndications.any? -%>
				<li>
					<%= render 'francis_cms/shared/syndications', resource: @link %>
				</li>
			<%- end -%>
		</ul>

		<%- if @link.newer || @link.older -%>
			<%= render 'francis_cms/shared/pagination', resource: @link %>
		<%- end -%>

		<%= render 'francis_cms/shared/author_hcard' %>
	</footer>
</article>