<h1>Welcome to FrancisCMS!</h1>

<p>Feel free to modify this page—and any other pages, for that matter—to suit your needs.</p>
<p>The list of profiles below use <code>rel="me"</code> links that can be used to log in to services that support <%= link_to 'IndieAuth', 'https://indieauth.com/' %>. To add or remove links to your various social profiles, edit the <code>/config/settings.yml</code> file you created while setting up FrancisCMS.</p>

<%- if @posts.any? -%>
	<section class="section h-feed">
		<h1 class="p-name">Recent Posts</h1>

		<ol class="recent-list" reversed>
			<%- @posts.each do |post| -%>
				<li>
					<%= render 'shared/post_hentry', post: post, is_expanded: false %>
				</li>
			<%- end -%>
		</ol>

		<%= link_to 'See more posts →', posts_path %>
	</section>
<%- end -%>

<%- if @links.any? -%>
	<section class="section h-feed">
		<h1 class="p-name">Recent Links</h1>

		<ol class="recent-list" reversed>
			<%- @links.each do |link| -%>
				<li>
					<%= render 'shared/link_hentry', link: link, is_expanded: false %>
				</li>
			<%- end -%>
		</ol>

		<%= link_to 'See more links →', links_path %>
	</section>
<%- end -%>

<section class="section">
	<h1>Profiles</h1>

	<ol class="profiles-list">
		<%- Settings.profiles.each do |profile| -%>
			<li><%= link_to profile.title, profile.url, rel: 'me' %></li>
		<%- end -%>
	</ol>
</section>