<%- @page_title = "Webmentions#{' — Page ' + @webmentions.current_page.to_s if @webmentions.current_page > 1}" -%>

<%- if __logged_in__ -%>
	<header class="content-header">
		<h1>Webmentions</h1>
		<%- if @webmentions.total_pages > 1 -%>
			<small>Page <%= @webmentions.current_page %> of <%= @webmentions.total_pages %></small>
		<%- end -%>
	</header>

	<div class="content-container">
		<%- if @webmentions.any? -%>
			<table>
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Source URL</th>
					</tr>
				</thead>
				<tbody>
					<%- @webmentions.each do |webmention| -%>
						<tr>
							<th data-webmention-status="<%= webmention.status_string %>" scope="row" title="This webmention is <%= webmention.status_string %>."><%= webmention.id %></th>
							<td><%= link_to truncate(webmention.source.gsub(%r{^https?://}, ''), length: 64, omission: '…'), webmention.source, title: webmention.source %></td>
							<td class="actions">
								<%= link_to 'View', webmention_path(webmention), class: 'button' %>
							</td>
							<td class="actions mq-toggle">
								<%= render 'francis_cms/shared/delete_form', action: webmention_path(webmention) %>
							</td>
						</tr>
					<%- end -%>
				</tbody>
			</table>

			<%= will_paginate @webmentions %>
		<%- else -%>
			<p>No webmentions found!</p>
		<%- end -%>
	</div>
<%- else -%>
	<div class="single-content">
		<p>This is the <%= link_to 'webmention', 'http://indiewebcamp.com/webmention' %> endpoint for <%= link_to francis_cms_config.site_title, francis_cms_config.site_url %>.</p>
		<p>If you’ve written something that references a page on <%= francis_cms_config.site_title %>, you can manually send a webmention with the following command:</p>
		<pre><code>curl -i -d 'source=http://example.com/path/to/your/post&amp;target=<%= francis_cms_config.site_url %>path/to/my/post' <%= webmentions_url %></code></pre>
		<p>There’s also a variety of <%= link_to 'plugins', 'http://indiewebcamp.com/webmention#Publishing_Software' %> and <%= link_to 'services', 'http://indiewebcamp.com/webmention#Services' %> available for sending and receiving webmentions. See <%= link_to 'indiewebcamp.com/webmention', 'http://indiewebcamp.com/webmention' %> for more details.</p>
	</div>
<%- end -%>

<footer class="content-footer">
	<%= render 'francis_cms/shared/author_hcard' %>
</footer>