<ul>
	<li>
		<label for="link_url">URL</label>
		<input type="url" id="link_url" name="link[url]" required value="<%= @link.url %>">
	</li>
	<li>
		<label for="link_title">Title</label>
		<input type="text" id="link_title" name="link[title]" required value="<%= @link.title %>">
	</li>
	<li>
		<label for="link_body">Body</label>
		<textarea id="link_body" name="link[body]"><%= @link.body %></textarea>
	</li>
	<li>
		<label for="link_tag_list">Tags</label>
		<input type="text" id="link_tag_list" name="link[tag_list]" value="<%= @link.tag_list %>">
	</li>
	<li>
		<label for="link_published">
			<input type="hidden" name="link[published]" value="0">
			<input type="checkbox" id="link_published" name="link[published]" value="1"<%= ' checked' if @link.published_at? %>>
			Published
		</label>
	</li>
	<li>
		<button type="submit">Submit</button>
	</li>
</ul>