<% if logged_in? %>
	<% content_for :admin_panel do %>
		<menu class="local" role="menu">
			<li role="menuitem"><%= link_to 'Edit', edit_link_path(@link) %></li>
			<li role="menuitem">
				<%= partial 'shared/delete_form', locals: { action: link_path(@link) } %>
			</li>
		</menu>
	<% end %>
<% end %>

<article class="single h-entry h-as-article">
	<header class="single-header">
		<h1 class="single-title p-name">
			<%= link_to @link.title, @link.url %>
			<%= '(Draft)' unless @link.published_at? %>
		</h1>

		<% if @link.published_at? %>
			<p>Saved on <%= link_to %Q{<time class="dt-published" datetime="#{@link.published_at.to_s(:iso8601)}">#{@link.published_at.to_s(:display)}</time>}, link_path(@link), class: 'u-url' %>.</p>
		<% end %>
	</header>

	<% if @link.body? %>
		<div class="e-content">
			<%= @link.to_html %>
		</div>
	<% end %>

	<aside class="responses" id="responses" role="complementary">
		<%= partial 'shared/webmention_form', locals: { target: link_url(@link) } %>

		<% if @link.webmentions.any? %>
			<%= partial 'shared/webmentions', locals: { resource: @link } %>
		<% end %>
	</aside>

	<footer role="complementary">
		<ul class="single-meta">
			<li>
				<%= partial 'shared/tags', locals: { resource: @link } %>
			</li>
		</ul>

		<%= partial 'shared/author_hcard' %>
	</footer>
</article>