<article>
	<header>
		<h1><%= @link.title %></h1>
		<time datetime="<%= @link.published_at.to_s(:iso8601) %>"><%= @link.published_at.to_s(:display) %></time>
	</header>

	<% if @link.body? %>
		<%= @link.to_html %>
	<% end %>

	<% if logged_in? %>
		<footer>
			<ul>
				<li>
					<%= link_to 'Edit', edit_link_path(@link.id) %>
				</li>
				<li>
					<%= partial 'shared/delete_form', locals: { action: link_path(@link.id) } %>
				</li>
			</ul>
		</footer>
	<% end %>
</article>