<article class="h-entry h-as-article">
	<header>
		<h1 class="p-name">
			<%= link_to @link.title, @link.url %>
			<%= '(Draft)' unless @link.published_at? %>
		</h1>
		<% if @link.published_at? %>
			<p>Saved on <%= link_to %Q{<time class="dt-published" datetime="#{@link.published_at.to_s(:iso8601)}">#{@link.published_at.to_s(:display)}</time>}, link_path(@link.id), class: 'u-url' %>.</p>
		<% end %>
	</header>

	<% if @link.body? %>
		<div class="e-content">
			<%= @link.to_html %>
		</div>
	<% end %>

	<footer role="complementary">
		<%= partial 'shared/author_hcard' %>

		<% if @link.tags.any? %>
			<dl>
				<dt>Tags</dt>
				<% @link.tags.each do |tag| %>
					<dd><%= link_to tag.name, tag_path(tag.slug), class: 'p-category' %></dd>
				<% end %>
			</dl>
		<% end %>
	</footer>

	<% if logged_in? %>
		<menu role="menu">
			<li role="menuitem"><%= link_to 'Edit', edit_link_path(@link.id) %></li>
			<li role="menuitem">
				<%= partial 'shared/delete_form', locals: { action: link_path(@link.id) } %>
			</li>
		</menu>
	<% end %>
</article>