<% if @posts.any? || @links.any? %>
	<% if @posts.any? %>
		<section class="h-feed">
			<header>
				<h1 class="p-name">Posts tagged “<%= @tag.name %>”</h1>
			</header>

			<ol reversed>
				<% @posts.each do |post| %>
					<li>
						<%= partial 'shared/post_hentry', locals: { post: post } %>
					</li>
				<% end %>
			</ol>
		</section>
	<% end %>

	<% if @links.any? %>
		<section class="h-feed">
			<header>
				<h1 class="p-name">Links tagged “<%= @tag.name %>”</h1>
			</header>

			<ol reversed>
				<% @links.each do |link| %>
					<li>
						<%= partial 'shared/link_hentry', locals: { link: link } %>
					</li>
				<% end %>
			</ol>
		</section>
	<% end %>
<% else %>
	<p>No content tagged “<%= @tag.name %>” found!</p>
<% end %>