<ul>
	<li>
		<label for="post_title">Title</label>
		<input type="text" id="post_title" name="post[title]" required value="<%= @post.title %>">
	</li>
	<li>
		<label for="post_slug">URL</label>
		<%= url_for posts_path %>/
		<input type="text" id="post_slug" name="post[slug]" value="<%= @post.slug %>">
	</li>
	<li>
		<label for="post_body">Body</label>
		<textarea id="post_body" name="post[body]" required><%= @post.body %></textarea>
	</li>
	<li>
		<label for="post_excerpt">Excerpt</label>
		<input type="text" id="post_excerpt" maxlength="255" name="post[excerpt]" value="<%= @post.excerpt %>">
	</li>
	<li>
		<label for="post_tag_list">Tags</label>
		<input type="text" id="post_tag_list" name="post[tag_list]" value="<%= @post.tag_list %>">
	</li>
	<li>
		<label for="post_published">
			<input type="hidden" name="post[published]" value="0">
			<input type="checkbox" id="post_published" name="post[published]" value="1"<%= ' checked' if @post.published_at? %>>
			Published
		</label>
	</li>
	<li>
		<button type="submit">Submit</button>
	</li>
</ul>