<article class="h-entry h-as-article">
	<header>
		<h1 class="p-name">
			<%= link_to @post.title, post_path(@post.slug), class: 'u-url' %>
			<%= '(Draft)' unless @post.published_at? %>
		</h1>
		<% if @post.published_at? %>
			<p>Published on <time class="dt-published" datetime="<%= @post.published_at.to_s(:iso8601) %>"><%= @post.published_at.to_s(:display) %></time>.</p>
		<% end %>
	</header>

	<div class="e-content">
		<%= @post.to_html %>
	</div>

	<footer role="complementary">
		<%= partial 'shared/author_hcard' %>
	</footer>

	<% if logged_in? %>
		<menu role="menu">
			<li role="menuitem"><%= link_to 'Edit', edit_post_path(@post.slug) %></li>
			<li role="menuitem">
				<%= partial 'shared/delete_form', locals: { action: post_path(@post.slug) } %>
			</li>
		</menu>
	<% end %>
</article>