<article>
	<header>
		<h1><%= @post.title %></h1>
		<time datetime="<%= @post.published_at.to_s(:iso8601) %>"><%= @post.published_at.to_s(:display) %></time>
	</header>

	<%= @post.to_html %>

	<footer>
		<ul>
			<li>
				<%= link_to 'Edit', edit_post_path(@post.slug) %>
			</li>
			<li>
				<%= partial 'shared/delete_form', locals: { action: post_path(@post.id) } %>
			</li>
		</ul>
	</footer>
</article>