<%- is_expanded = true if is_expanded.nil? -%>

<article class="entry h-entry" data-entry-type="link">
	<header class="entry-header">
		<h1 class="entry-title p-name">
			<%= link_to link.title, link.url %>
			<%= link_to 'Draft', francis_cms.edit_link_path(link), class: 'draft' unless link.published_at? %>
		</h1>
	</header>

	<%- if link.body? && is_expanded -%>
		<div class="entry-content e-content">
			<%= raw link.to_html %>
		</div>
	<%- end -%>

	<%- if link.published_at? -%>
		<footer class="entry-footer">
			<p>Saved on <%= link_to raw(%{<time class="dt-published" datetime="#{link.published_at.to_s(:iso8601)}">#{raw link.published_at.to_s(:display)}</time>}), francis_cms.link_path(link), class: 'u-url' %>.</p>
			<%- if link.tags.any? && is_expanded -%>
				<%= render 'francis_cms/shared/tags', resource: link %>
			<%- end -%>
		</footer>
	<%- end -%>
</article>