<%- is_expanded = true if is_expanded.nil? -%>

<article class="entry h-entry" data-entry-type="photo">
	<%- if is_expanded -%>
		<header class="entry-header">
			<h1 class="entry-title p-name">
				<%= link_to photo.title, francis_cms.photo_path(photo) %>
			</h1>
		</header>
	<%- end -%>

	<div class="entry-content e-content">
		<%= link_to francis_cms.photo_path(photo), class: 'u-url' do %>
			<%= image_tag photo.photo.url(:small_jpg), alt: photo.title, class: 'u-photo' %>
		<% end %>
	</div>

	<%- if photo.published_at? -%>
		<%- datetime = photo.taken_at? ? photo.taken_at : photo.published_at -%>
		<footer class="entry-footer">
			<p><%= photo.taken_at? ? 'Taken' : 'Posted' %> on <time class="dt-published" datetime="<%= datetime.to_s(:iso8601) %>"><%= raw datetime.to_s(:display) %></time>.</p>
		</footer>
	<%- else -%>
		<%= link_to 'Draft', francis_cms.edit_photo_path(photo), class: 'draft' %>
	<%- end -%>
</article>