<div class="syndications-container">
	<h2>Syndicated Copies</h2>

	<%- if resource.syndications.any? -%>
		<table>
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col" class="mq-toggle">URL</th>
				</tr>
			</thead>
			<tbody>
				<%- resource.syndications.each_with_index do |syndication, index| -%>
					<tr>
						<th scope="row"><%= syndication.name %></th>
						<td class="mq-toggle"><%= link_to truncate(syndication.url.gsub(%r{^https?://}, ''), length: 64, omission: '…'), syndication.url %></td>
						<td class="actions">
							<%= render 'francis_cms/shared/delete_form', action: send("#{resource_type.singularize}_syndication_path", resource, syndication) %>
						</td>
					</tr>
				<%- end -%>
			</tbody>
		</table>
	<%- end -%>

	<%- if resource.can_automatically_syndicate? -%>
		<div class="automated-syndications-container">
			<p>Automatically publish a syndicated copy of this <%= resource_type.singularize %>.</p>

			<%- if resource.can_syndicate_to_flickr? -%>
				<%= form_tag send("#{resource_type.singularize}_flickr_syndications_path", resource), class: 'flickr-syndication-form' do |f| %>
					<button type="submit">Post to Flickr</button>
				<% end %>
			<%- end -%>
		</div>
	<%- end -%>

	<div class="manual-syndications-container">
		<p>Manually add a link to a syndicated copy of this <%= resource_type.singularize %>.</p>

		<%= form_for [resource, resource.syndications.build], html: { class: 'syndication-form' } do |f| %>
			<ul>
				<li>
					<%= f.label :name %>
					<%= f.text_field :name, required: true %>
				</li>
				<li>
					<%= f.label :url, 'URL' %>
					<%= f.url_field :url, placeholder: 'http://…', required: true %>
				</li>
				<li>
					<button type="submit">Submit</button>
				</li>
			</ul>
		<% end %>
	</div>
</div>