<%= form_tag webmentions_path, class: 'webmention-form' do %>
	<%= hidden_field_tag :referer, target %>
	<%= hidden_field_tag :target, target %>

	<%= label_tag :source, 'Have you posted a response to this? Let me know the URL:' %>

	<div class="inline-form-fields">
		<%= url_field_tag :source, nil, placeholder: 'http://…', required: true %>
		<button type="submit">Submit</button>
	</div>
<% end %>