<!doctype html>
<html id="<%= settings.site['url'].gsub(/^https?:\/\//, '').gsub('.', '-') %>" itemscope itemtype="http://schema.org/WebPage" lang="<%= settings.site['language'] %>">
<head>
	<meta charset="utf-8">

	<title><%= page_title %></title>

	<meta name="description" content="<%= page_description %>">
	<meta name="og:description" itemprop="description" content="<%= page_description %>">
	<meta name="og:title" itemprop="name" content="<%= page_title %>">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="<%= settings.user['twitter'] %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= alternate_link_tag links_feed_path, title: "#{settings.site['title']}: Links" %>
	<%= alternate_link_tag posts_feed_path, title: "#{settings.site['title']}: Posts" %>
	<link rel="stylesheet" href="<%= stylesheet_path 'application' %>">
	<%= %Q{<link rel="stylesheet" href="#{stylesheet_path 'admin'}">} if logged_in? %>
	<link rel="webmention" href="<%= webmentions_url %>">
</head>
<body>

	<%= link_to '<span class="container">Skip to main content</span>', '#main', class: 'skip-link' %>

	<header class="global-header" role="banner">
		<div class="container">
			<h1><%= link_to settings.site['title'], root_path, rel: 'home' %></h1>

			<nav class="global-navigation" role="navigation">
				<ul>
					<li><%= link_to 'Posts', posts_path %></li>
					<li><%= link_to 'Links', links_path %></li>
					<li><%= link_to 'Tags', tags_path %></li>
					<li>
						<% if logged_in? %>
							<form action="<%= logout_path %>" method="post">
								<button type="submit">Log Out</button>
							</form>
						<% else %>
							<%= link_to 'Log In', login_path %>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="global-content <%= yield_content :main_classes %>" id="main" role="main">
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<footer class="global-footer" role="contentinfo">
		<p>Some rights reserved. This site’s content is licensed under a <%= link_to "#{settings.license['title']} license", settings.license['url'], rel: 'license' %>. Source code available on <%= link_to settings.source['title'], settings.source['url'], rel: 'source' %>.</p>
	</footer>

	<% if logged_in? %>
		<div class="admin-panel">
			<%= yield_content :admin_panel %>

			<menu class="global" role="menu">
				<li role="menuitem"><%= link_to 'New post', new_post_path %></li>
				<li role="menuitem"><%= link_to 'New link', new_link_path %></li>
			</menu>
		</div>
	<% end %>

	<script>
		WebFontConfig = {
			google: {
				families: ['Open+Sans:700:latin','Source+Sans+Pro:400,400italic,700:latin']
			}
		};

		(function(d,t) {
			var w=d.createElement(t),s=d.getElementsByTagName(t)[0];
			w.src='//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			s.parentNode.insertBefore(w,s);
		})(document,'script');
	</script>

</body>
</html>