<!doctype html>
<html id="<%= Settings.site.url.gsub(/^https?:\/\//, '').gsub('.', '-') %>" itemscope itemtype="http://schema.org/WebPage" lang="<%= Settings.site.language %>">
<head>
	<meta charset="utf-8">

	<title><%= Settings.site.title %></title>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="<%= Settings.user.twitter %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= link_to '<span class="container">Skip to main content</span>', '#main', class: 'skip-link' %>

	<header class="global-header" role="banner">
		<div class="container">
			<h1><%= link_to Settings.site.title, root_path, rel: 'home' %></h1>

			<nav class="global-navigation" role="navigation">
				<ul>
					<li><%= link_to 'Posts', posts_path %></li>
					<li><%= link_to 'Links', links_path %></li>
				</ul>
			</nav>
		</div>
	</header>

	<main class="global-content <%= yield :main_classes %>" id="main" role="main">
		<div class="container">
			<%= yield %>
		</div>
	</main>

	<footer class="global-footer" role="contentinfo">
		<p>Some rights reserved. This site’s content is licensed under a <%= link_to "#{Settings.license.title} license", Settings.license.url, rel: 'license' %>. Source code available on <%= link_to Settings.source.title, Settings.source.url, rel: 'source' %>.</p>
	</footer>

	<%# if logged_in? %>
		<div class="admin-panel">
			<%= yield :admin_panel %>

			<menu class="global" role="menu">
				<li role="menuitem"><%= link_to 'New post', new_post_path %></li>
				<li role="menuitem"><%= link_to 'New link', new_link_path %></li>
			</menu>
		</div>
	<%# end %>

</body>
</html>