<!doctype html>
<html id="<%= Settings.site.url.gsub(/^https?:\/\//, '').gsub('.', '-') %>" itemscope itemtype="http://schema.org/WebPage" lang="<%= Settings.site.language %>">
<head>
	<meta charset="utf-8">

	<title><%= Settings.site.title %></title>

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="<%= Settings.user.twitter %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= link_to 'Skip to main content', '#main' %>

	<header role="banner">
		<h1><%= link_to Settings.site.title, root_path, rel: 'home' %></h1>

		<nav role="navigation">
			<ul>
				<li><%= link_to 'Posts', posts_path %></li>
				<li><%= link_to 'Links', links_path %></li>
			</ul>
		</nav>
	</header>

	<main id="main" role="main">
		<%= yield %>
	</main>

	<footer role="contentinfo">
		<p>Some rights reserved. This site’s content is licensed under a <%= link_to "#{Settings.license.title} license", Settings.license.url, rel: 'license' %>. Source code available on <%= link_to Settings.source.title, Settings.source.url, rel: 'source' %>.</p>
	</footer>

</body>
</html>